body {
    background-color:black;
}
.playing{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}
.playing__field {
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.rows-field{
    background-color: aqua;
    display: flex;
    width: 700px;
}

.rows-item{
    width: 50px;
    height: 50px;
    z-index: 1;
}

.number_codes{
    display: flex;
    gap: 300px;
    z-index: 2;
}
.current__count{
    display: flex;
}
.record__account{
    display: flex;
}
.endGame__section{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color:rgb(42, 90, 133);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
}
.level_selection{
    color:rgb(241, 241, 241);
}
.count, .title_count{
    color:aliceblue;
}
.record__account-count{
     color: #FFFFFF;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 60px;
}